
button{
	background: none;
	border: none;
	color: #08c;
	margin: 0;
	padding: 0;
	font-size: 18px;
	cursor: pointer;
}

.app-sidebar{
	width: 30%;
	height: 100vh;
	border-right: 1px solid #ddd;
}

.app-sidebar-header{
	display: flex;
	justify-content: space-between;
	padding: 25px;
}

.app-sidebar-header h1{
	margin: 0;
}

.app-sidebar-notes{
	height: calc(100vh - 78px);
	overflow-y: scroll;
	transition: all 0.4s;
}

.app-sidebar-note p{
	padding: 15px;
	cursor: pointer;
}

.sidebar-note-title{
	display: flex;
	justify-content: space-between;
}

.app-sidebar-note p{
	margin: 10px 0;
}

.app-sidebar-note small{
	font-size: 16px;
	color: #757373;
}

.app-sidebar-note:hover{
	background-color: #ff1e1e3d;
}

.app-sidebar-note.active{
	background-color: #ff1e1e3d;
}